/* body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03051C;
} */
.home{
    font-weight: 24px;
    font-size: 36px;
    color: #33AFBE;
    
}
.container__home{
  min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color:#03051C ;
    
}
.home__img{
  display: flex;
  justify-content: center;
   align-items: center;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: solid 1px gray;
   background-color: #2A2B3D;
   
}
.home__img-center{
   max-width: 200%;
   position: relative;
   top: -55px;
   left: 10px;
  
    
}
.home__texto{
    color: #D2CECB;
    font-size: 24px;
}
.home__link{
    margin-right: 20px;
    height: 30px;
    width: 70px;
    justify-content: center;
    border: solid 1px white;
    color: #D2CECB;
    text-align: center;
    
}
.home__link1{
    
    height: 30px;
    width: 70px;
    justify-content: center;
    border: solid 1px white;
    margin-right: 20px;
}
.home__link2{
    
    height: 30px;
    width: 70px;
    justify-content: center;
    border: solid 1px white;
    
}
.home__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2A2B3D;
 width: 100%;
 height: 90px;
color: white;
position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
}
.home__home{
    font-size: 26px;
    cursor: pointer;
}
.home__contacto{
    font-size: 26px;
    cursor: pointer;
}
.home__aboutme{
    font-size: 26px;
    cursor: pointer;
}
.home__portafolio{
    font-size: 26px;
    cursor: pointer;
}

a{
    text-decoration: none;
}
a:hover{
    color: violet;
}

